In [ ]:
import numpy as np

In [ ]:
#Question 1

In [ ]:
def count_chars():
   user_input = input("Enter a string value:")
   char_count = {}
   for char in user_input:
     if char in char_count:
      char_count[char]+=1
     else:
      char_count[char]=1
   for char,count in char_count.items():
     print(f"{char}={count}",end=",")
count_chars()

Enter a string value:assambly
a=2,s=2,m=1,b=1,l=1,y=1,

In [ ]:
#Question 2

In [ ]:
data=np.array([34,12,7])
data

array([34, 12,  7])

In [ ]:
data.max()

34

In [ ]:
#Question 3

In [ ]:
base=int(input("enter the base:"))
exp=int(input("enter the exponent:"))
result=(base**exp)
print(result)

enter the base:2
enter the exponent:3
8

In [ ]:
#Question 4

In [ ]:
def sum_of_cubes(n):
  return sum(i**3 for i in range(1,n))
num=int(input("enter a positive integer:"))
print(sum_of_cubes(num))

enter a positive integer:4
36

In [ ]:
#Question 5

In [ ]:
for i in range(1,11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 2 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
#Question 6

In [ ]:
def most_frequent(nums):
  return max(set(nums),key=nums.count)
numbers=[2,3,4,2,5,2]
print(most_frequent(numbers))

2

In [ ]:
#Question 7

In [ ]:
def sum_of_squares(nums):
  return sum(x**2 for x in nums)
numbers = [2,1,3,1]
print(sum_of_squares(numbers))

15

In [ ]:
#Question 8
for i in range(1,16):
  if i % 2 == 0:
    print(f"{i}is even")
  else:
    print(f"{i}is odd")

1is odd
2is even
3is odd
4is even
5is odd
6is even
7is odd
8is even
9is odd
10is even
11is odd
12is even
13is odd
14is even
15is odd

In [ ]:
#Question 9

In [ ]:
def celsius_to_fahrenheit(c):
  return (c*9/5)+32
def fahrenheit_to_celsius(f):
  return (f-32)*5/9
f = float(input("temperature in fahrenheit="))
c = fahrenheit_to_celsius(f)
print(f"temperature in celsius={int(c)}")
c = float(input("temperature in celsius="))
f = celsius_to_fahrenheit(c)
print(f"temperature in fahrenheit={int(f)}")

temperature in fahrenheit=41
temperature in celsius=5
temperature in celsius=5
temperature in fahrenheit=41

In [ ]:
#Question 10

In [ ]:
def factorial(n):
  result = 1
  for i in range(1,n+1):
    result*=i
  return result
print(factorial(3))

6